<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Crear Paciente</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="pacienteForm" ng-submit="$ctrl.crearPaciente(pacienteForm)" novalidate>
        <div class="row">
          <div class="form-group col-sm-6" ng-class="{'has-success': pacienteForm.nombre.$valid && $ctrl.submitted,
                                             'has-error'  : pacienteForm.nombre.$invalid && $ctrl.submitted}">
            <label>Nombre</label>
            <input type="text" name="nombre" class="form-control" ng-model="$ctrl.paciente.nombre" required>
            <p class="help-block" ng-show="pacienteForm.nombre.$error.required && $ctrl.submitted">
              Se requiere nombre
            </p>
          </div>
          <div class="form-group col-sm-6" ng-class="{'has-success': pacienteForm.annoNacimiento.$valid && $ctrl.submitted,
                                             'has-error'  : pacienteForm.annoNacimiento.$invalid && $ctrl.submitted}">
            <label>Año nacimiento</label>
            <input type="number" name="annoNacimiento" class="form-control" ng-model="$ctrl.paciente.annoNacimiento" required max="2020" min="1980">
            <p class="help-block" ng-show="pacienteForm.annoNacimiento.$error.required && $ctrl.submitted">
              Se requiere año de nacimiento
            </p>
          </div>

        </div>

        <div class="row">
          <div class="form-group col-sm-6" ng-class="{'has-success': pacienteForm.apoderado.$valid && $ctrl.submitted,
                                             'has-error'  : pacienteForm.apoderado.$invalid && $ctrl.submitted}">
            <label>Sexo</label>
            <select class="form-control" name="sexo" ng-model="$ctrl.paciente.sexo" ng-required="true">
              <option value="">Seleccione sexo...</option>
              <option value="macho">Macho</option>
              <option value="hembra">Hembra</option>
            </select>

            <p class="help-block" ng-show="pacienteForm.sexo.$error.required && $ctrl.submitted">
              Sexo Requerido
            </p>
          </div>
          <div class="form-group col-sm-6" ng-class="{'has-success': pacienteForm.especie.$valid && $ctrl.submitted,
                                             'has-error'  : pacienteForm.especie.$invalid && $ctrl.submitted}">
            <label>Especie</label>
            <select class="form-control" name="especie"
                    ng-options="especie.id as especie.nombreComun for especie in $ctrl.especies track by especie.id"
                    ng-model="$ctrl.paciente.id_especie"
                    ng-required="true"
            >
              <option value="">Seleccione Especie...</option>
            </select>

            <p class="help-block" ng-show="pacienteForm.especie.$error.required && $ctrl.submitted">
              Especie Requerida
            </p>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-6" ng-class="{'has-success': pacienteForm.apoderado.$valid && $ctrl.submitted,
                                             'has-error'  : pacienteForm.apoderado.$invalid && $ctrl.submitted}">
            <label>Apoderado</label>
            <select class="form-control" name="apoderado"
                    ng-options="apoderado.id as apoderado.nombre + ' ' + apoderado.apellido for apoderado in $ctrl.apoderados track by apoderado.id"
                    ng-model="$ctrl.paciente.id_apoderado"
                    ng-required="true"
            >
              <option value="">Seleccione Apoderado...</option>
            </select>

            <p class="help-block" ng-show="pacienteForm.apoderado.$error.required && $ctrl.submitted">
              Apoderado Requerido
            </p>
          </div>
          <div class="form-group col-sm-6">
            <label>Monitor</label>
            <select class="form-control" name="especie"
                    ng-options="monitor.id as 'Monitor ' + monitor.id for monitor in $ctrl.monitores track by monitor.id"
                    ng-model="$ctrl.paciente.id_monitor"
            >
              <option value="">Seleccione Monitor...</option>
            </select>
          </div>
        </div>
        <div>
          <button class="btn btn-raised btn-primary btn-lg btn-login" type="submit">
            Guardar
          </button>
        </div>

      </form>
    </div>
  </div>
  <hr>
</div>
