<div class="container">
  <a class="btn btn-raised btn-primary" ui-sref="especie-crear">Crear Especie</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          Nombre Comun
        </th>
        <th>
          Nombre Científico
        </th>
        <th>
          Temperatura Minima Cº
        </th>
        <th>
          Temperatura Maxima Cº
        </th>
        <th>
          Minimo Latidos por minuto
        </th>
        <th>
          Maximo Latidos por minuto
        </th>
        <th>
          Acción
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="especie in $ctrl.especies">
        <td>
          {{ especie.nombreComun }}
        </td>
        <td>
          {{ especie.nombre }}
        </td>
        <td>
          {{ especie.minTemp }}
        </td>
        <td>
          {{ especie.maxTemp }}
        </td>
        <td>
          {{ especie.minPpm }}
        </td>
        <td>
          {{ especie.maxPpm }}
        </td>
        <td>
          <div class="row">
            <a class="btn btn-xs btn-raised btn-primary col-sm-offset-1 col-sm-5" ui-sref="especie-edit({id: especie.id})"><i class="fa fa-pencil"></i></a>
            <button class="btn btn-xs btn-raised btn-danger col-sm-offset-1 col-sm-5" ng-click="$ctrl.eliminarEspecie(especie)"><i class="fa fa-trash"></i></button>
          </div>
        </td>
      </tr>
    </tbody>

  </table>
</div>
