<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Vet Alert</a>
    </div>
    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in $ctrl.menu" ui-sref-active="active" ng-if="$ctrl.isLoggedIn()">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>

        <li ng-if="$ctrl.isAdmin()" uib-dropdown is-open="$ctrl.mantenedoresOpen">
          <a href id="simple-dropdown" uib-dropdown-toggle>
            Mantenedores
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem"><a ui-sref="admin" ui-sref-active="active">Admin</a></li>
            <li role="menuitem"><a ui-sref="especie-list" ui-sref-active="active">Especies</a></li>
            <li role="menuitem"><a ui-sref="apoderado-list" ui-sref-active="active">Apoderados</a></li>
            <li role="menuitem"><a ui-sref="paciente-list" ui-sref-active="active">Pacientes</a></li>
            <li role="menuitem"><a ui-sref="comuna-list" ui-sref-active="active">Comunas</a></li>
          </ul>
        </li>
        <li ng-if="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="reporteMonitoreo">Reporte Monitoreo</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="!$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-if="$ctrl.isLoggedIn()"><p class="navbar-text">Hola {{ $ctrl.getCurrentUser().nombre }} {{ $ctrl.getCurrentUser().apellido }}</p> </li>
        <li ng-if="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-if="$ctrl.isLoggedIn()"><a ng-click="$ctrl.logout()">Cerrar Sesión</a></li>
      </ul>
    </div>
  </div>
</div>
