<div class="container">
  <a class="btn btn-raised btn-primary"  ui-sref="comuna-crear">Crear Comuna</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          Nombre
        </th>
        <th>
          Ciudad
        </th>
        <th>
          Acción
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="comuna in $ctrl.comunas">
        <td>
          {{ comuna.nombre}}
        </td>
        <td>
          {{ comuna.ciudad.nombre }}
        </td>
        <td>
          <div class="row">
            <a class="btn btn-xs btn-primary col-sm-5" ui-sref="comuna-edit({id: comuna.id})"><i class="fa fa-pencil"></i></a>
            <button class="btn btn-xs btn-danger col-sm-offset-1 col-sm-5" ng-click="$ctrl.eliminarComuna(comuna)"><i class="fa fa-trash"></i></button>
          </div>
        </td>
      </tr>
    </tbody>

  </table>
</div>
