<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Crear comuna</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="comunaForm" ng-submit="$ctrl.crearComuna(comunaForm)" novalidate>

        <div class="form-group" ng-class="{'has-success': comunaForm.nombre.$valid && $ctrl.submitted,
                                           'has-error'  : comunaForm.nombre.$invalid && $ctrl.submitted }">
          <label>Nombre</label>
          <input type="text" name="nombre" class="form-control" ng-model="$ctrl.comuna.nombre" required>

          <p class="help-block" ng-show="comunaForm.nombre.$error.required && $ctrl.submitted">
            Nombre Requerido
          </p>
        </div>

        <div class="form-group" ng-class="{'has-success': comunaForm.ciudad.$valid && $ctrl.submitted,
                                           'has-error'  : comunaForm.ciudad.$invalid && $ctrl.submitted}">
          <label><label>Ciudad</label></label>
          <select class="form-control" name="ciudad"
            ng-options="ciudad.id as ciudad.nombre for ciudad in $ctrl.ciudades track by ciudad.id"
            ng-model="$ctrl.comuna.id_ciudad">
            <option value="">Seleccione Ciudad...</option>
          </select>

          <p class="help-block" ng-show="comunaForm.ciudad.$error.required && $ctrl.submitted">
            Ciudad Requerido
          </p>
        </div>
        <div>
          <button class="btn btn-raised btn-primary btn-lg btn-login" type="submit">
            Crear
          </button>
        </div>

      </form>
    </div>
  </div>
  <hr>
</div>
