.Main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;

  &-monitor {
    flex: 1 0 100%;
    max-width: 100%;
    padding: 0.5rem;
    text-align: center;
    margin: 0 1rem;
  }

  &-status {
    border: 1px solid #737373;
    border-radius: 3px;
    padding: 2rem;
    text-align: left;
    min-height: 15rem;
    font-size: 1.5rem;

    &-data-container {
      margin-bottom: 1.5rem;
    }

    &-label {
      display: inline-block;
      min-width: 7rem;
      margin-right: 1.5rem;
    }

    &-value {
      font-weight: bold;
    }

    &-ball {
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background-color: #737373;
      vertical-align: middle;

      &--ok {
        background-color: green;
      }

      &--warning {
        background-color: #FFA500;
        animation: pulse 3s ease-out;
        animation-iteration-count: infinite;
      }

      &--danger {
        background-color: red;
        animation: pulse 1.5s ease-out;
        animation-iteration-count: infinite;
      }
    }
  }
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.4);
  }
  75% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1);
  }
}
