<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="row Paciente-row">
        <div class="col-sm-12 Paciente-nombre">
            Paciente: {{ pacienteCtrl.paciente.nombre }}
        </div>
        <div class="col-sm-12">
          Estado:
          <div class="Main-status-ball Main-status-ball--{{ pacienteCtrl.paciente.estado.estado}}" ></div>
        </div>
      </div>
      <div class="row Paciente-row">
        <div class="col-sm-12">
          <p><strong>Movimiento</strong></p>
          {{ pacienteCtrl.paciente.estado.movimiento === 1 ? 'En Movimiento' : 'Inactivo' }}
        </div>
      </div>
      <div class="row Paciente-row">
        <div class="col-sm-12">
          <h5>Latidos por minuto</h5>
          <div class="row Paciente-row">
            <div class="col-sm-4 col-md-3 col-lg-2">
              <i class="fa fa-heartbeat fa-3x"></i>
            </div>
            <div class="col-sm-8">
              <div>Latidos: {{ pacienteCtrl.paciente.estado.latidos }}</div>
              <div>SpO2: {{ pacienteCtrl.paciente.estado.spo2 }}%</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row Paciente-row">
        <div class="col-sm-12">
          <h5>Temperatura</h5>
          <div class="row Paciente-row">
            <div class="col-sm-4 col-md-3 col-lg-2">
              <i class="fa fa-thermometer-three-quarters fa-3x"></i>
            </div>
            <div class="col-sm-8">
              <div>Actual: {{ pacienteCtrl.paciente.estado.temperatura }}</div>
              <div>Promedio: {{ pacienteCtrl.paciente.estado.promedioTemp | number : 1 }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row Paciente-row">
        <div class="col-sm-12">
          <p><strong>Temperatura Ambiente</strong></p>
          Actual: {{ pacienteCtrl.paciente.estado.tempAmbiente }}
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <ecg valor="pacienteCtrl.paciente.estado.pulso" x="pacienteCtrl.paciente.estado.x" beep="pacienteCtrl.paciente.estado.beep"></ecg>
    </div>
  </div>
</div>
