<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-1">
      <div class="row Paciente-row Paciente-row--center">
        <div class="col-sm-6 Paciente-nombre">
            Paciente: {{ pacienteCtrl.paciente.nombre }}
        </div>
        <div class="col-sm-6">
          Estado:
          <div class="Main-status-ball Main-status-ball--{{ pacienteCtrl.paciente.estado.estado}}" ></div>
        </div>
      </div>
      <div class="row Paciente-row Paciente-row--baseline">
        <div class="col-sm-6">
          <h5>Latidos por minuto</h5>
          <div class="row">
            <div class="col-sm-4 col-md-3 col-lg-2">
              <i class="fa fa-heartbeat fa-3x"></i>
            </div>
            <div class="col-sm-8">
              <div>Actual: {{ pacienteCtrl.paciente.estado.latidos }}</div>
              <div>Promedio:</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <p><strong>Movimiento</strong></p>
          Inactivo
        </div>
      </div>
      <div class="row Paciente-row">
        <div class="col-sm-6">
          <h5>Latidos por minuto</h5>
          <div class="row">
            <div class="col-sm-3 col-md-2 col-lg-1">
              <i class="fa fa-thermometer-three-quarters fa-3x"></i>
            </div>
            <div class="col-sm-8">
              <div>Actual: {{ pacienteCtrl.paciente.estado.temperatura }}</div>
              <div>Promedio:</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <p><strong>Temperatura Ambiente</strong></p>
          Actual: {{ pacienteCtrl.paciente.estado.tempAmbiente }}
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <ecg valor="pacienteCtrl.paciente.ecg.valor"></ecg>
    </div>
  </div>
</div>
